<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('partials/headerNavbar') %>

    <!-- Header -->
    <%- include('partials/headerMain') %>

    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= prato.titulo %></h1>
          <br />
          <h4><%= prato.descricaoCurta %></h4>
          <p class="ps-text-grey">
            <% if(prato.descricaoDetalhada.length) {%> <%=
            prato.descricaoDetalhada %> <%} else { %> prato típico <%} %>
            <%= prato.preco %>
          </p>
          <br />
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/images/<%= prato.img %>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>

      <%- include('partials/footer') %>
    </div>
  </body>
</html>
